html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  /* font-family: "Montserrat", sans-serif !important; */
  font-family: 'Rubik', sans-serif !important;
}

/* Головний момент, який притискає футер */
/* footer {
  margin-top: auto; 
} */

.card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.text-break {
  word-wrap: break-word; /* Дозволяє переносити довгі слова */
  overflow-wrap: break-word; /* Альтернативний варіант для деяких браузерів */
  word-break: break-word; /* Дозволяє ламати довге слово */
  white-space: normal; /* Дозволяє переносити рядки */
}

input {
  border: 1px solid #bfbfc0 !important; /* Bootstrap-сірий колір */
  box-shadow: none !important; /* Видаляє будь-які тіні */
  outline: none !important; /* Видаляє синій контур при фокусі */
}

input:focus {
  border-color: #494a4a !important; /* Трішки темніший сірий при фокусі */
}

select {
  border: 1px solid #bfbfc0 !important; /* Сірий бордер Bootstrap */
  box-shadow: none !important; /* Видаляє внутрішню тінь */
  outline: none !important; /* Видаляє синій контур при фокусі */
  /* appearance: none;  Видаляє стандартний стиль браузера */
  background-color: white; /* Фон залишається білим */
  padding: 8px; /* Робимо текст не притиснутим */
}

select:focus {
  border-color: #494a4a !important; /* Темніший сірий при фокусі */
}


/* Зміна фону опцій при наведенні (не підтримується у всіх браузерах) */
select option:hover {
  background: #e9ecef !important; /* Світло-сірий фон при наведенні */
}

/* Опція, яка вибрана */
select option:checked {
  background: #e5e5e6 !important; /* Світло-сірий фон для вибраного елемента */
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top:hover {
  background-color: #444;
}
